*{
    margin: 0;
    padding: 0;
}
/* 62.5% equivalent 10 pixel */
html{
    font-size: 62.5%;
}

/* font family */
@font-face {
    font-family: 'Dosis_Bold';
    src: url('/font/Dosis_Bold.ttf');
}
@font-face {
    font-family: 'Carnas_Extra_Bold';
    src: url('/font/Carnas_Extra_Bold.otf');
}
/* Navigation */
.nav-flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    background-color: bisque;
    padding-left: 1rem;
    padding-right: 1rem;
}
.nav-img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.nav-ul{
    display: flex;
    list-style: none;
}

.nav-ul a, .nav-search{
    font-family: 'Dosis_Bold';
    text-decoration: none;
    font-size: 2rem;
    margin: 1rem;
}
.nav-search input{
    height: 3vh;
    width: 15vw;
    border: none;
}
.nav-search input:focus{
    outline: none;
    background-color: #dfe;
    border: 0;
}
/* Section Maximiliano */

.box-section-img{
    /* box-shadow: parte horizonta, parte vertical, color; */
/*     box-shadow: ; */

}
.section-flexbox-two-content{
    display: flex;
    justify-content: space-around;
}
.section-flexbox-two-title{
    margin: 25px;
    font-family: 'Carnas_Extra_Bold';
    font-size: 4rem;
}
.section-flexbox-two-image{
    width: 35vw;
    height: 35vh;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.section-flexbox-two-content-image{
    font-family: 'Carnas_Extra_Bold';
    font-size: 1rem;
}