*{
    margin: 0;
    padding: 0;

}
/* 62.5% equivalent 10 pixel */
html{
    font-size: 62.5%;
    background-color: #020F29;
}
body{
    width: 100%;   
    max-width: 1200px;
    margin: auto;
} 
/* font family */
@font-face {
    font-family: 'Dosis_Bold';
    src: url('/font/Dosis_Bold.ttf');
}
@font-face {
    font-family: 'Carnas_Extra_Bold';
    src: url('/font/Carnas_Extra_Bold.otf');
}
@font-face {
    font-family: 'Roboto_Black';
    src: url('/font/Roboto/Roboto-Black.ttf');
}
@font-face {
    font-family: 'Roboto_Bold';
    src: url('/font/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto_Light';
    src: url('/font/Roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto_Medium';
    src: url('/font/Roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto_Regular';
    src: url('/font/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto_Thin';
    src: url('/font/Roboto/Roboto-Thin.ttf');
}

/* Navigation */
.nav-flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    background-color: #042240;
    padding-left: 1rem;
    padding-right: 1rem;
}
.nav-img{
    width: 45px;
    height: 45px;
    border-radius: 15px;
}
.nav-ul{
    display: flex;
    list-style: none;
}

.nav-ul a, .nav-search{
    font-family: 'Dosis_Bold';
    text-decoration: none;
    font-size: 2rem;
    margin: 1rem;
    color: white;
}
.nav-ul a:hover{
    color: #00ADEF;
}
.nav-search input{
    height: 3vh;
    width: 15vw;
    border: none;
}
.nav-search input:focus{
    outline: none;
    background-color: #dfe;
    border: 0;
}
/* Section Maximiliano */

.section-flexbox-two{
    width: 100%;   
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}
.section-flexbox-two p{
    text-align: center;
    font-family: 'Roboto_Bold';
    font-size: 3rem;
    color: white;
}

.section-flexbox-two-content{
    display: flex;
    justify-content: space-around;
}
.section-flexbox-two-title{
    margin: 25px;
    font-family: 'Roboto_Bold';
    font-size: 4rem;
    color: white;
}
.section-flexbox-two-image{
    width: 28vw;
    height: 35vh;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px;
}
.section-flexbox-two-content-image{
    font-family: 'Carnas_Extra_Bold';
    font-size: 1rem;
}
.section-container{
    width: 100%;   
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.section-container .card{
    width: 330px;
    height: 430px;
    border-radius: 15px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0,25s;
    background-color: white;
}
.section-container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(255, 255, 255, 0.7);
}

.section-container .card img{
    width: 330px;
    height: 220px;
    border-radius: 15px;
}

.section-container .card h4{
    font-family: 'Roboto-Medium';
    font-size: 3rem;
    font-weight: 600;
    color: black;
}

.section-container .card p{
    padding: 1rem 2rem;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    color: black;
}

.section-container .card a{
    font-weight: 500;
    text-decoration: none;
    color: black;
}


.section-container-zoom{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 400px;

}
.section-container-zoom figure{
    width: 320px;
    height: 250px;
    overflow: hidden;
    transition: all 500ms ease;
    border-radius: 15px;
    box-shadow: 1px 5px 10px rgba(255,255, 255, 0.20);
}
.section-container-zoom figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease;
    border-radius: 15px;
}
.section-container-zoom figure img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.section-container-zoom-title{
    position: absolute;
    margin-top: 10px;
    font-family: 'Roboto-Regular';
    color: white;
    font-size: 2rem;
    width: 320px;
}
.section-container-stadium-zoom{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 400px;
}
.section-container-stadium-zoom figure{
    width: 320px;
    height: 400px;
    overflow: hidden;
    transition: all 500ms ease;
    border-radius: 15px;
    box-shadow: 1px 10px 15px rgba(0,0, 0, 0.50);
    
}
.section-container-stadium-zoom figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease;
    border-radius: 15px;
}
.section-container-stadium-zoom figure img:hover{
    transform: scale(1.2);
    /* cursor: pointer; */
}
.section-container-zoom-stadium-title{
    position: absolute;
    font-weight: 900;
    font-size: 4rem;
    width: 320px;
    color: white;
    margin-top: -100px;
    text-align: center;
    white-space: normal;
    background: linear-gradient(180deg,transparent,#020f2a);
    height: 100px;
/*     -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px #5A002B; */
}


/* Carousel */
.carousel {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    margin-top: 40px;

}
#imagen {
    width: 100%;
    height: 400px;
    background-size: cover;
    border-radius: 15px;
}

.section-video-maps{
    display: flex;
    justify-content: space-around;

}

.section-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    background-color: #042240;
    padding-left: 1rem;
    padding-right: 1rem;
}
.text-footer{
    font-family: 'Roboto-Bold';
    font-size: 4rem;
    color: white;
}
.copyRight{
    font-family: 'Roboto-Regular';
    font-size: 1rem;
    color: white;
}
.social-media{
    color: white;
}
.social-media a{
    text-decoration: none;
    color: white;
}
.social-media i{
    font-size: 18px;
}
.rowHeader{
    color: white;
    height: 10vh;
    background-color: #042240;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.rowHours{
    display: flex;
    justify-content: space-between;
    width: 280px;
    font-size: 16px;
}
.rowWeather{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.temperture, .tempertureCatar{
    display: flex;
    align-items: center;
}
.locationIconAnimated{
    width: 45px;
    height: 45px;
}
.section-division{
    margin-bottom: 10vh;
}

/* Animation */
@keyframes go-left-right {        
    from { left: 0px; }             
    to { left: calc(100% - 50px); } 
}

.progress {
    margin-top: 35px;
    animation: go-left-right 9s infinite alternate;
    position: relative;
    width: 90px;
    height: 60px;
}


/* Gabriel */


@keyframes ejemploColor{
    from{background-color:yellow;}
    to{background-color: cornflowerblue;}
}
.grid_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
    background-color: aliceblue;
    max-width: 1200px;
    column-gap: 6rem;
    margin-top: 1em;
 
}
.imagen{
border-radius: 15px;
height: 30vh;
width:  60vh;
margin-top: 1em;


}

.flex_cab{
    display: flex;
    align-items: center;
   justify-content: center;
   border-radius: 15px;

}
.imagen_header{
    border-radius: 15px;
    height: 40vh;
    width:  150vh;
    flex: 1 1 auto;

    }
    

   
    .grid_content_aloja{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100rem, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
        background-color: aliceblue;
        max-width: 1200px;
        margin: auto;
        column-gap: 6rem; 
    }
    
    .grid-container-1{
        display: flex;
  
        margin-left: 10rem;
        /*border: 1px solid;*/
        align-items: stretch; 
        grid-template-columns: auto auto;

            
    }

  
    @media only screen and (max-width: 1500px) {
        .grid-container-1 {
          grid-template-columns: 1fr;
        }
    }
    
      /* Max width 50% and height: auto for responsive image that takes up 50% of width */
      .img-tarjeta {
        border-radius: 15px;
        height: 30vh;
        width:  60vh;
        margin-top: 1em;
        margin-right: 20rem;

        object-fit: cover;
        max-width: 30rem;
      }
     
      h2{text-align: center; }
    
      .caja_img{
        width: 20rem;
       border-radius: 15px;
       flex: 1 1 auto;
      }
       
       .caja_text {
        margin-right: 10rem;
        width: 50rem;
        flex: 1 1 auto;
        
       } 

    

   
   
h3{
    font-size: 1.875em; /* 30px/16=1.875em */
}



.button-cont {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    height: 5vh;
    width:  60vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  @media screen and (max-width: 500px) {
    .caja_img{
        width: 12rem;
       border-radius: 15px;
       flex: 1 1 50%;
      }
       
       .caja_text {
        width: 40rem;
        flex: 1  auto;
        font-size: 1vw;
        
       } 

       .img-tarjeta {
        border-radius: 15px;
        height: 7vh;
        width:  15vh;
        margin-top: 1em;
        object-fit: cover;
        max-width: 6rem;
   
      }
      .grid-container-1{
        display: flex;
        margin-left: 5rem;
  
        /*border: 1px solid;*/
        align-items: stretch; 
        grid-template-columns: auto auto;

            
    }

    .imagen_header{
        border-radius: 15px;
  
        max-width: 24rem;
        max-height: 3rem;
      
    
        }

        
  }
  @media screen and (min-width:501px) and (max-width:1000px) {
    .caja_img{
     width: 30rem;
    border-radius: 15px;
    flex: 1 1 auto;
   }
 }


     
/* Richard */

.messi{
    padding: 2rem;
    width: 129vh;
    height: 40vh;
    object-fit: fill;
    justify-content: left;
 }

 @font-face {
    font-family: 'com';
    font-style: normal;
    font-weight: 200;
    src: url('/font/Computerfont.ttf');
}

.flex{
    max-width: 1264px;
    margin: 5px auto 5px auto;
    position: relative;
}
.flex-containe{
    display: flex;
    width: 10%;
    height: 10%;
    justify-content: left;
    position: fixed;
    opacity: relative;
}
.flex-containe1{
    display: flex;
    padding: 8rem;
}
.flex-containe2{ 
    border-radius: 15px;
    width: 95%;
    height: 92%;
    border: solid;
    color: blue;
    animation-name: coloranimado;
    animation-duration: 30s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    padding: 2rem;
}
@keyframes coloranimado{
    from{background-color: rgb(64, 200, 224);}
    to{background-color: rgb(44, 142, 35);}

}
.grid-containe3{
    display: grid;
    grid-template-columns: 30rem 30rem 30rem 30rem;
    grid-template-rows: 19rem 19rem;
    column-gap: 2rem;
}
.texto{
    color: floralwhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#texto1{
    color: rgb(255, 102, 0);
    font-size: 2.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.texto2{
    color: indigo;
    font-size: 2.5rem;
    margin: auto;
    padding: 3px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-ser
}
.img-fantasmita{
    display: flex; 
    height: 35vh;
}
.img-ficturi{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 5px;
   align-items: center;
   justify-items: center;
}
video{
    width: 38vh;
    height:28vh
}
.favicom{
    display: flex;
    height: 15vh;
    width: 15vh;
    border-radius: 10px;
    opacity: 0.5; 
}
.borde{
    border-radius: 15px;
    flex-direction: column;
}
.borde1{
    border-radius: 15px;
    height: 30vh;
    width: 35vh;  
}
.estadio{
 border-radius: 15px;
 display: flex;
 align-self: center;
 align-items: stretch;
 }
.flex4{
    display: flex; 
}
.menu1{
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 90%;
    margin: 25px;
    padding: 15px; 
    border: solid;
    background-color: coral;
}
/*.alineado{
    display: flex;
    float: left;
    background: none;
    margin-right: 2%;
    margin-bottom: 1%;
}*/
.viaje{
    display: flex;
    color: chartreuse;
    font-size: 35px;
    font-family:'com'
    
}
.logito{
    display: flex;
    width: 80px;
    height: 80px;  
}